In [1]:
import logging

In [2]:
lg = logging.getLogger(__name__)
lg.handlers

[]

In [3]:
l = [1]
if len(l) > 0:
    print("hhh")

hhh

In [8]:
l = ['a', 'cbd', 'zzzz', 'asodfhuapwoerfhn']
l.sort(key=len, reverse=True)

In [9]:
print(l)

['asodfhuapwoerfhn', 'zzzz', 'cbd', 'a']

In [1]:
import pandas as pd

In [3]:
pd.read_csv("/Users/jx/Downloads/k.csv", encoding="gbk")

,1,2,3,4,5,6,7,8,9,10,...,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
0,2015/2/9,28.800000,28.756878,27.829555,28.63,99.91,103.98,99.91,103.98,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015/2/10,28.630000,29.435024,28.499700,28.75,102.54,103.06,101.3,103.06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015/2/11,26.470710,26.470710,26.176691,26.44,102.39,104,102.39,104,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015/2/12,26.389094,26.389094,25.773367,25.80,103.41,102.8,101.37,105.45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015/2/13,24.286958,24.286958,22.810473,23.41,103.55,104.61,103.55,104.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,2025/1/10,18.100000,18.310000,17.780000,18.05,98.93,98.93,96.035,97.471,18.71,...,22.93,23.07,19.8,19.98,19.04,19.15,33.88,33.67,35.28,35.61
2406,2025/1/13,18.710000,19.460000,18.710000,18.76,96.405,98.219,96.405,98.219,19.6,...,24.06,24.52,20.03,20.83,20.03,20.22,37.52,37.93,36.27,37.02
2407,2025/1/14,18.770000,19.790000,18.280000,19.48,97.066,97.463,94.837,95.387,19.83,...,24,25.35,20.48,20.86,19.64,20.37,36.40,39.29,34.96,39.29
2408,2025/1/15,19.480000,19.480000,18.600000,18.77,97.066,97.463,94.837,95.387,20.55,...,24.67,25.25,20.48,20.86,19.64,20.37,38.72,38.83,37.58,38.01
2409,2025/1/16,18.820000,19.450000,18.580000,18.86,95.936,95.936,93.011,94.779,19.78,...,24.73,25.65,20.29,20.57,19.91,20.14,37.51,39.99,37.51,39.63

In [2]:
l = []

def func(l):
    l.append(["2", "3"])

print(l)
func(l)
print(l)

[]
[['2', '3']]

In [11]:
import pandas as pd
import numpy as np

# Define start and end dates
start_date = "2000-01-01"
end_date = "2025-02-01"

# Generate date range
date_range = pd.date_range(start=start_date, end=end_date, freq="B")
# Set seed for reproducibility
np.random.seed(0)

# Generate random data
val1 = np.random.randn(len(date_range))
val2 = np.random.rand(len(date_range)) * 100

# Create DataFrame
df = pd.DataFrame({"Date": date_range, "val1": val1, "val2": val2})

In [12]:
df

           Date      val1       val2
0    2000-01-03  1.764052  41.675662
1    2000-01-04  0.400157  60.863386
2    2000-01-05  0.978738  15.004428
3    2000-01-06  2.240893  84.454948
4    2000-01-07  1.867558  62.106611
...         ...       ...        ...
6540 2025-01-27  0.398010  65.787646
6541 2025-01-28 -0.222363  91.151828
6542 2025-01-29  0.742029  93.803356
6543 2025-01-30 -2.405761  35.804058
6544 2025-01-31  0.742540  93.322294

[6545 rows x 3 columns]